.Wrapper {
  position: relative;
}

.List {
  height: 300px;
  width: 100%;
  max-width: 305px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .List {
    height: 300px;
    width: 100%;
    max-width: 590px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 1280px) {
  .List {
    height: 300px;
    width: 100%;
    max-width: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.List::-webkit-scrollbar {
  width: 6px;

  background-color: #f0f1f3;
}

.List::-webkit-scrollbar-thumb {
  width: 6px;
  height: 40px;

  background: #264061;
}

.ListItem {
  width: 100%;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.ListItem:hover .Name,
.ListItem:hover .Weight,
.ListItem:hover .Ccal {
  font-weight: 700;
}

.Text {
  padding-bottom: 10px;

  border-bottom: 1px solid #e0e0e0;
  font-family: Verdana;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
  letter-spacing: 0.02em;
}

.Name {
  width: 100%;
  max-width: 125px;
  margin-right: 10px;
  transition: all 250ms ease-in;
  text-align: left;
}

.Weight {
  width: 100%;
  max-width: 50px;
  margin-right: 10px;
  transition: all 250ms ease-in;
  text-align: center;
}

.Ccal {
  width: 100%;
  max-width: 70px;
  margin-right: 10px;
  transition: all 250ms ease-in;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .Text {
    padding-bottom: 20px;

    letter-spacing: 0.04em;
  }

  .Name {
    width: 100%;
    max-width: 239px;
    margin-right: 30px;
  }

  .Weight {
    width: 100%;
    max-width: 105px;
    margin-right: 30px;
    text-align: right;
  }

  .Ccal {
    width: 100%;
    max-width: 105px;
    margin-right: 10px;
    text-align: right;
  }
}

@media screen and (min-width: 1280px) {
  .Text {
    padding-bottom: 20px;

    letter-spacing: 0.04em;
  }

  .Name {
    width: 100%;
    max-width: 239px;
    margin-right: 30px;
  }

  .Weight {
    width: 100%;
    max-width: 105px;
    margin-right: 30px;
    text-align: right;
  }

  .Ccal {
    width: 100%;
    max-width: 105px;
    margin-right: 10px;
    text-align: right;
  }
}

/* .CloseIconWrapper {
  padding-bottom: 15px;
} */

.CloseSVG {
  stroke: #9b9faa;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.CloseSVG:hover {
  stroke: #000;
}

.HiddenBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 28px;
  width: 98%;
  max-width: 590px;
  content: '';
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    #ffffff 42.19%
  );
}
