.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 320px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding-left: 87px;
    padding-right: 87px;
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 115px;
    padding-right: 115px;
    width: 100%;
    max-width: 1280px;
  }
}
