@value primary-text-color from '../../styles/variables.module.css';
@value primary-font from '../../styles/variables.module.css';
@value secondary-btn-color from '../../styles/variables.module.css';
@value secondary-title-color from '../../styles/variables.module.css';
@value primary-font from '../../styles/variables.module.css';

.Title {
  margin-bottom: 30px;
  font-family: primary-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.FormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 30px;

  width: 100%;
  max-width: 290px;
}

.Form {
  width: 100%;
  margin-bottom: 40px;
}

.Wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.TheLastOne {
  margin-bottom: 0;
}

.Label {
  position: absolute;
  left: 0;
  top: -7px;
  width: 100%;

  font-family: primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: primary-text-color;

  transition: all 250ms ease-in;
}

.Input {
  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border: none;
  border-bottom: 1px solid #e0e0e0;

  font-family: primary-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: primary-text-color;

  transition: all 250ms ease-in;
}

.Input:focus,
.Input:not(:placeholder-shown) {
  outline: none;
  border-bottom: 1px solid secondary-btn-color;
}

.Input:focus + .Label,
.Input:not(:placeholder-shown) + .Label {
  color: secondary-title-color;
  left: 15px;
  top: -15px;
}

.RadioTitle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: primary-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: primary-text-color;
}

.RadioButtons {
  display: flex;
  max-width: 239px;
  justify-content: space-between;
}

.CustomRadio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.CustomRadio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-family: primary-font;
  color: primary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.CustomRadio + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
}

.CustomRadio:checked + label::before {
  background-image: url('../../images/pics/radio.png');
}

.BtnWrapper {
  margin-bottom: 20px;
  width: 100%;
  max-width: 176px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .FormWrapper {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 768px;
  }

  .Form {
    margin-bottom: 30px;
  }

  .Title {
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 36px;
  }

  .ColumnWrapper {
    display: flex;
  }

  .ColumnOne {
    margin-right: 30px;
  }

  .RadioTitle {
    margin-top: 36px;
  }

  .Wrapper {
    width: 240px;
  }

  .BtnWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .FormWrapper {
    padding-top: 130px;
    width: 100%;
    max-width: 605px;
  }

  .Form {
    margin-bottom: 30px;
  }

  .Title {
    margin-bottom: 68px;
    font-size: 34px;
    line-height: 41px;
  }

  .ColumnWrapper {
    display: flex;
  }

  .ColumnOne {
    margin-right: 30px;
  }

  .Wrapper {
    width: 240px;
  }

  .RadioTitle {
    margin-top: 40px;
  }

  .BtnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    max-width: 500px;
  }
}
