.logout {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 320px;
  height: 24px;
  align-items: center;
}

.userLogin {
  padding-right: 22px;
  margin-right: 22px;
  color: #212121;
  border-right: 2px solid #e0e0e0;
  font-family: 'GothamPro-Bold';
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.04em;
}

.exitButton {
  cursor: pointer;
  margin-right: 15px;
  border: none;
  background-color: inherit;
  color: #9b9faa;
  font-family: 'GothamPro-Bold';
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .logout {
    background-color: white;
  }
  @media screen and (min-width: 1280px) {
    .logout {
      min-width: 535px;
      display: flex;
      margin-left: 340px;
    }

    .exitButton {
      margin-right: 0;
    }
  }
}
