@value primary-text-color from '../../styles/variables.module.css';
@value primary-font from '../../styles/variables.module.css';
@value secondary-btn-color from '../../styles/variables.module.css';
@value secondary-title-color from '../../styles/variables.module.css';

a {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .AddFormSection {
    padding-top: 200px;
  }

  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .productWrapper,
  .weightWrapper {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .productWrapper {
    margin-bottom: 30px;
  }

  .weightWrapper {
    margin-bottom: 60px;
  }

  .Input {
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    transition: all 250ms ease-in;

    font-family: primary-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: primary-text-color;
  }

  .Input:focus,
  .Input:not(:placeholder-shown) {
    outline: none;
    border-bottom: 1px solid secondary-btn-color;
  }

  .Input:focus + .Label,
  .Input:not(:placeholder-shown) + .Label {
    color: secondary-title-color;
    left: 15px;
    top: -20px;
  }

  .Label {
    position: absolute;
    top: 0;
    left: 0;

    font-family: Verdana;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.04em;

    color: #9b9faa;
    transition: all 250ms ease-in;
  }

  .BtnWrapper {
    display: none;
  }

  .Mobile-Btn {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .Form {
    display: flex;
    flex-direction: row;
    align-items: end;

    width: 100%;
    max-width: 530px;
    margin-bottom: 60px;
  }

  .Input {
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    transition: all 250ms ease-in;

    font-family: primary-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: primary-text-color;
  }

  .Input:focus,
  .Input:not(:placeholder-shown) {
    outline: none;
    border-bottom: 1px solid secondary-btn-color;
  }

  .Input:focus + .Label,
  .Input:not(:placeholder-shown) + .Label {
    color: secondary-title-color;
    right: 0;
    top: -15px;
  }

  .Label {
    position: absolute;
    top: -7px;
    right: 0;

    font-family: Verdana;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.04em;

    color: #9b9faa;
    transition: all 250ms ease-in;
  }

  .productWrapper {
    position: relative;
    margin-right: 31px;

    width: 100%;
    max-width: 241px;
  }

  .weightWrapper {
    position: relative;
    margin-left: 10px;
    width: 100%;
    max-width: 105px;
    margin-right: 48px;
  }

  .BtnWrapper {
    width: 70px;
    height: 50px;
    border-radius: 50%;
    border: none;

    background: #fc842d;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    transition: all 250ms ease-in;
    cursor: pointer;
  }

  .BtnWrapper:hover {
    transform: scale(1.05);
  }

  .Mobile-Btn {
    display: none;
  }

  .FindBox {
    position: relative;
  }

  .Findlist {
    position: absolute;
    height: 300px;
    overflow-y: hidden;
    overflow-y: scroll;
    background: #fff;
    /* !чтобы за ним нельзя нажимать */
  }

  .Findlist__item {
    cursor: pointer;
  }

  .Findlist__item:hover {
    background: #ccc;
  }
}

@media screen and (min-width: 1280px) {
  .Form {
    display: flex;
    flex-direction: row;
    align-items: end;

    width: 100%;
    max-width: 552px;
    margin-bottom: 60px;
  }

  .Input {
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    transition: all 250ms ease-in;

    font-family: primary-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: primary-text-color;
  }

  .Input:focus,
  .Input:not(:placeholder-shown) {
    outline: none;
    border-bottom: 1px solid secondary-btn-color;
  }

  .Input:focus + .Label,
  .Input:not(:placeholder-shown) + .Label {
    color: secondary-title-color;
    right: 0;
    top: -15px;
  }

  .Label {
    position: absolute;
    top: -7px;
    right: 0;

    font-family: Verdana;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.04em;

    color: #9b9faa;
    transition: all 250ms ease-in;
  }

  .productWrapper {
    position: relative;
    margin-right: 31px;

    width: 100%;
    max-width: 241px;
  }

  .weightWrapper {
    position: relative;
    margin-left: 10px;
    width: 100%;
    max-width: 105px;
    margin-right: 75px;
  }

  .BtnWrapper {
    width: 70px;
    height: 50px;
    border-radius: 50%;
    border: none;

    background: #fc842d;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    transition: all 250ms ease-in;
    cursor: pointer;
  }

  .BtnWrapper:hover {
    transform: scale(1.05);
  }

  .Mobile-Btn {
    display: none;
  }

  .FindBox {
  }

  .Findlist__item {
    cursor: pointer;
  }

  .Findlist__item:hover {
    background: #ccc;
  }
}
