@value primary-font from '../../styles/variables.module.css';
@value primary-text-color from '../../styles/variables.module.css';
@value secondary-text-color from '../../styles/variables.module.css';

.Wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 31px;
}

.Datepicker {
  width: 100%;
  max-width: 120px;

  font-family: primary-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: secondary-text-color;
  cursor: pointer;
  outline: none;
  border: none;
}

.Calendar {
  margin-left: 21px;

  cursor: pointer;
}

.CalendarIcon {
  fill: primary-text-color;
  transition: all 250ms ease-in;
}

.CalendarIcon:hover {
  fill: secondary-text-color;
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .Wrapper {
    margin-bottom: 60px;
  }

  .Datepicker {
    width: 100%;
    max-width: 219px;

    font-size: 34px;
    line-height: 41px;
  }

  .Calendar {
    margin-left: 16px;
  }
}
